footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 5rem;
   background-color: #ded1f8;
   text-align: center;
}

.logo{
   max-width: 4rem;
   max-height: 4rem;
   padding: 0.8rem 1rem 0 1rem;
}